[user]
	name = tarun-sri-sai
	email = 76744890+tarun-sri-sai@users.noreply.github.com
[init]
	defaultBranch = main
[safe]
	directory = *
[core]
	autocrlf = input
	ignorecase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
    helper =
[lfs]
	storage = D:\\Users\\tarun\\my_files\\git_lfs
