[init]
	defaultBranch = main
[safe]
	directory = *
[core]
	autocrlf = input
	ignorecase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[maintenance]
	auto = true
