[submodule "neovim"]
	path = neovim
	url = https://github.com/tarun-sri-sai/nvchad-starter
[submodule "pi/agent/extensions/openrouter-params"]
	path = pi/agent/extensions/openrouter-params
	url = https://github.com/azmeenafandi/openrouter-params
[submodule "pi/agent/extensions/ollama-params"]
	path = pi/agent/extensions/ollama-params
	url = https://github.com/tarun-sri-sai/ollama-params
