GITEA__server__SSH_PORT=222
GITEA__server__ROOT_URL=https://myserver.local/
GITEA__server__PROTOCOL=http
GITEA__database__DB_TYPE=mysql
GITEA__database__HOST=db:3306
GITEA__database__NAME=gitea
GITEA__database__USER=gitea
GITEA__database__PASSWD=

# disable self-registration after setting up the admin account
# GITEA__service__DISABLE_REGISTRATION=true
