POSTGRES_DB=nextcloud
POSTGRES_USER=nextcloud
POSTGRES_PASSWORD=
POSTGRES_HOST=postgres

NEXTCLOUD_ADMIN_USER=
NEXTCLOUD_ADMIN_PASSWORD=

REDIS_HOST=redis
REDIS_HOST_PORT=6379
REDIS_PASSWORD=

NEXTCLOUD_DATA=

APACHE_DISABLE_REWRITE_IP=true
TRUSTED_PROXIES=
NEXTCLOUD_TRUSTED_DOMAINS=
