GITEA_DATA=

GITEA__server__SSH_PORT=2222
GITEA__server__ROOT_URL=https://git.myserver.local/
GITEA__server__PROTOCOL=http
GITEA__database__DB_TYPE=postgres
GITEA__database__HOST=postgres:5432
GITEA__database__NAME=gitea
GITEA__database__USER=gitea
GITEA__database__PASSWD=

GITEA__service__DISABLE_REGISTRATION=true
