POSTGRES_DATA=

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

POSTGRES_INITDB_ARGS='--data-checksums'

IMMICH_DB_DATABASE=immich
IMMICH_DB_USERNAME=immich
IMMICH_DB_PASSWORD=

GITEA_DB_DATABASE=gitea
GITEA_DB_USERNAME=gitea
GITEA_DB_PASSWORD=
